:root {
    --color-primary: #00a0e9;
    --color-secondary: #f5f5f5;
    --color-tertiary: #f5f5f5;
    --color-quaternary: #f5f5f5;

    // Default Colors
    --ca-color-white: #FFFFFF;
    --ca-color-black: #000000;
}