:root {
    --color-primary: #FF8906;
    --color-secondary: #F25F4C;
    --color-tertiary: #E53170;
    --color-quaternary: #3A86FF;

    --background-primary: #0F0e17;

    --headline-color: #FFFFFE;
    --paragraph-color: #A7A9BE;

    --padding-400: 1rem;
    --padding-500: 2rem;
    --padding-600: 3rem;


    // Default Colors
    --color-white: #FFFFFF;
    --color-black: #000000;
}